# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\.bscako\.study\ГосУниверситет УНПК\Бакалавр\GLV\Final v 1.2\Final v 1.2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
